.airplane__container{
    position: relative;
    height: 100vh;
    background-color: var(--bg-black);
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.airplane__sky{
    height: 1600px;
    width: 2300px;
    position: absolute;
    z-index: 2;
}
.airplane__img{
    position: absolute;
    z-index: 1;
    rotate: 12deg;
}